@model ThAmCo.Events.Models.GuestDetailsViewModel;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
